* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pic1 {
  height: 200px;
  background-image: url(img_exercise/box1.jpg);
  background-size: cover;
  background-position: center;
}
.pic2 {
  height: 200px;
  background-image: url(img_exercise/box2.jpg);
  background-size: cover;
  background-position: center;
}
.pic3 {
  height: 200px;
  background-image: url(img_exercise/box3.jpg);
  background-size: cover;
  background-position: center;
}
.pic4 {
  height: 200px;
  background-image: url(img_exercise/box4.jpg);
  background-size: cover;
  background-position: center;
}
